@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: #60a5fa;
  color: #bfdbfe;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  padding: 2rem;
}

.heading {
  max-width: 600px;
}

.heading h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
  /* padding-bottom: 2rem;
    
    border-bottom: 1rem solid #bfdbfe; */
}
